    /*
* Admin Dashboard
* Table of content
* @since 1.0  
*/
    /*
 Style button
 notification popup
*/
    
    .qs-paddle-intregration-admin-dashboard-container {
        padding: 10px 0px;
    }
    
    .qs-paddle-template-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 36px;
        padding-bottom: 26px;
    }
    
    @media (max-width: 320px) {
        .qs-paddle-template-container {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    
    .qs-paddle-intregration-menu-tab {
        box-sizing: border-box;
        float: left;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        width: 20%;
        visibility: visible;
        transition: all 0.5s;
    }
    /* Style the buttons inside the tab */
    
    .qs-paddle-intregration-menu-tab button {
        box-sizing: border-box;
        display: block;
        background-color: inherit;
        color: black;
        padding: 22px 16px;
        width: 100%;
        border: none;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;
        font-size: 17px;
    }
    /* Change background color of buttons on hover */
    
    .qs-paddle-intregration-menu-tab button:hover {
        background-color: #3772FF;
        color: #fff;
    }
    /* Create an active/current "tab button" class */
    
    .qs-paddle-intregration-menu-tab button.active {
        background-color: #3772FF;
        color: #fff;
    }
    
    .qs-paddle-tab-content-container {
        width: 80%;
        box-sizing: border-box;
        float: left;
        padding: 0px 12px;
        border-top: 1px solid #ccc;
        border-left: none;
        height: auto;
    }
    /* Style the tab content */
    
    @media only screen and (min-width: 300px) and (max-width: 767px) {
        .qs-paddle-tab-content-container {
            width: 100%;
        }
        .qs-paddle-intregration-menu-tab {
            width: 100%;
        }
    }
    /* Widgets */
    
    .qs-paddle-intregration-components-topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        margin-bottom: 30px;
    }
    
    .qs-paddle-dashboard-topbar .qs-paddle-intregration-title .title,
    .qs-paddle-intregration-components-topbar .qs-paddle-intregration-title .title {
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        color: #3467ff;
        display: flex;
        align-items: center;
        letter-spacing: 2px;
        cursor: pointer;
        ;
    }
    
    .qs-paddle-dashboard-topbar .qs-paddle-intregration-title .title i,
    .qs-paddle-intregration-components-topbar .qs-paddle-intregration-title .title i {
        height: 45px;
        width: auto;
        background: #f1f1f1;
        border-radius: 5px;
        text-align: center;
        line-height: 45px;
        margin-right: 15px;
    }
    
    .qs-paddle-intregration-components-topbar .qs-paddle-intregration-savechanges .button {
        background: #3467ff;
        line-height: 45px;
        padding: 1px 30px;
        border-radius: 5px;
        color: #ffffff;
        font-size: 18px;
        font-weight: 500;
        display: flex;
        align-items: center;
        border: 0;
        height: auto;
    }
    
    .qs-paddle-intregration-components-topbar .qs-paddle-intregration-savechanges .button i {
        padding-right: 26px;
    }
    
    .qs-paddle-intregration-common .quomodo_sm_switch {
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        padding: 30px 30px;
        margin-top: 30px;
        position: relative;
        z-index: 9;
    }
    
    .quomodo_sm_switch .qs-paddle-data-tooltip {
        position: absolute;
        left: 50%;
        bottom: 108%;
        transform: translateX(-50%);
        z-index: 2;
        background: #3467ff;
        color: #ffffff;
        line-height: 20px;
        border-radius: 5px;
        padding: 4px 10px;
        text-decoration: none;
        opacity: 0;
        visibility: hidden;
        transition: all linear 0.5s;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
    }
    
    .quomodo_sm_switch:hover .qs-paddle-data-tooltip {
        opacity: 1;
        visibility: visible;
    }
    
    .quomodo_sm_switch .qs-paddle-data-tooltip::before {
        position: absolute;
        content: "";
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #3467ff;
    }
    
    .qs-paddle-intregration-common .quomodo_sm_switch strong {
        font-weight: 500;
        color: #000000;
        font-size: 15px;
    }
    
    .qs-paddle-data {
        margin-bottom: 30px;
    }
    
    .woo-ready-template-col .qs-paddle-data {
        margin: 0;
    }
    
    .qs-paddle-intregration-component-row {
        background: #ffffff;
        padding: 10px 15px 30px;
        box-shadow: 0 10px 20px 0 #0000000d;
    }
    
    .qs-paddle-data strong {
        font-size: 18px;
        font-weight: 500;
        color: #000000;
        margin-bottom: 15px;
        display: inline-block;
    }
    
    @media only screen and (min-width: 300px) and (max-width: 767px) {
        .qs-paddle-nav-wrapper ul li a h3 {
            margin: 20px 0 20px !important;
        }
        .qs-paddle-nav-wrapper ul li a {
            margin-bottom: 20px;
        }
        .qs-paddle-nav-wrapper ul li a::before {
            display: none;
        }
        .qs-paddle-intregration-savechanges {
            display: block !important;
        }
        .qs-paddle-intregration-savechanges>div {
            margin-bottom: 10px;
        }
    }
    @media only screen and (min-width: 992px) and (max-width: 1600px) {
        .qs-paddle-intregration-common .quomodo_sm_switch{
            padding: 20px 10px;
            text-align: center;
        }
        .qs-paddle-intregration-components-topbar{
            flex-wrap: wrap;

        }
        .qs-paddle-intregration-common .quomodo_sm_switch strong{
            white-space: nowrap;
            display: block;
        }
        .qs-paddle-intregration-components-topbar .qs-paddle-intregration-savechanges .button i{
            padding-right: 6px;
        }
        .qs-paddle-intregration-components-topbar .qs-paddle-intregration-savechanges .button{
            padding: 0 16px;
        }
        .qs-paddle-intregration-components-topbar{
            padding-bottom: 10px;
        }
        .quomodo_switch_common .quomodo_switch + label{
            float: none !important;
            margin-top: 10px;
        }
        .woo-ready-template-activation .quomodo_switch_common .woo-ready-templates-swicher-wrp {
            text-align: left;
            margin-right: 30px;
        }
        .woo-ready-template-activation .quomodo_switch_common .quomodo_switch + label{
            float: right !important;
            margin-top: 0;
        }
        .woo-ready-template-activation .quomodo_switch_common .woo-ready-templates-swicher-wrp strong{
            display: inline-block;
        }
        .qs-paddle-intregration-component-row{
            padding: 0px 5px 20px;
        }
        .qs-paddle-data .bv_mainselect{
            margin-right: 45px;
        }
    }

    @media only screen and (min-width: 200px) and (max-width: 991px) {
        .qs-paddle-template-container{
            display: block;
        }
        .qs-paddle-data .bv_mainselect{
            margin-right: 45px;
        }
        .woo-ready-template-activation .quomodo_switch_common .woo-ready-templates-swicher-wrp {
            text-align: left;
            margin-right: 30px;
        }
        .qs-paddle-intregration-component-row{
            margin-bottom: 30px;
        }
        .qs-paddle-intregration-components-topbar{
            flex-wrap: wrap;

        }
        .qs-paddle-intregration-common .quomodo_sm_switch strong{
            white-space: nowrap;
            display: inline-block;
        }
        .qs-paddle-intregration-components-topbar .qs-paddle-intregration-savechanges .button i{
            padding-right: 6px;
        }
        .qs-paddle-intregration-components-topbar .qs-paddle-intregration-savechanges .button{
            padding: 0 16px;
        }
    }
    
    .qs-paddle-intregration-admin-search input[type=search] {
        width: 180px;
        min-height: 48px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding-left: 20px;
    }
    
    .qs-paddle-intregration-common .quomodo_sm_switch.woo-ready-enable-all-switch {
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        padding: 13px 30px;
        margin-right: 5px;
        margin-top: 0;
        cursor: pointer;
        transition: all 1s ease;
    }
    
    .qs-paddle-intregration-common .quomodo_sm_switch.qs-paddle-intregration-disable-all-switch {
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        padding: 13px 30px;
        margin-right: 5px;
        margin-top: 0;
        cursor: pointer;
        transition: all 0.5s ease;
    }
    
    .qs-paddle-intregration-common .quomodo_sm_switch.qs-paddle-intregration-disable-all-switch:hover {
        background: rgb(19, 20, 63);
        border: 1px solid rgb(230, 124, 124);
    }
    
    .qs-paddle-intregration-common .quomodo_sm_switch.qs-paddle-intregration-disable-all-switch:hover strong {
        color: #fff;
    }
    
    .qs-paddle-intregration-savechanges {
        display: inline-flex;
        align-self: center;
        justify-content: flex-end;
    }
    
    .qs-paddle-intregration-admin-search {
        margin-right: 4px;
    }
    /* Notification PopUp */
    
    #qs-paddle-intregration-admin-notification {
        visibility: hidden;
        min-width: 250px;
        margin-left: -125px;
        background-color: rgb(1, 17, 85);
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        right: 30px;
        top: 80px;
        font-size: 17px;
    }
    
    #qs-paddle-intregration-admin-notification.show {
        visibility: visible;
        -webkit-animation: woo_ready_fadein 0.5s, woo_ready_fadeout 0.5s 2.5s;
        animation: woo_ready_fadein 0.5s, woo_ready_fadeout 0.5s 2.5s;
    }
    
    @-webkit-keyframes woo_ready_fadein {
        from {
            top: 0;
            opacity: 0;
        }
        to {
            top: 80px;
            opacity: 1;
        }
    }
    
    @keyframes woo_ready_fadein {
        from {
            top: 0;
            opacity: 0;
        }
        to {
            top: 80px;
            opacity: 1;
        }
    }
    
    @-webkit-keyframes woo_ready_fadeout {
        from {
            top: 80px;
            opacity: 1;
        }
        to {
            top: 0;
            opacity: 0;
        }
    }
    
    @keyframes woo_ready_fadeout {
        from {
            top: 80px;
            opacity: 1;
        }
        to {
            top: 0;
            opacity: 0;
        }
    }
    /* Select Search field */
    
    .qs-paddle-data input[type=checkbox]:focus,
    input[type=color]:focus,
    input[type=date]:focus,
    input[type=datetime-local]:focus,
    input[type=datetime]:focus,
    input[type=email]:focus,
    input[type=month]:focus,
    input[type=number]:focus,
    input[type=password]:focus,
    input[type=radio]:focus,
    input[type=search]:focus,
    input[type=tel]:focus,
    input[type=time]:focus,
    input[type=url]:focus,
    input[type=week]:focus,
    .qs-paddle-data select:focus,
    textarea:focus {
        border-color: transparent !important;
        box-shadow: 0 0 0 1px transparent !important;
        outline: 0px solid transparent !important;
    }
    
    .qs-paddle-data select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: none;
    }




    .qs-paddle-data .bv_ul_inner .innerinput input:focus{
        border-color: transparent;
        box-shadow: none;
    }

    .qs-paddle-data-api-col .qs-paddle-data {
        display: flex;
        flex-direction: column;
        background: #fff;
        padding: 30px;
        box-shadow: 0 10px 20px 0 #0000000d;
    }


    .qs-paddle-data-api-col .qs-paddle-data .qs-paddle-data-tooltip{
        display: inline-block;
        margin-bottom: 10px;
    }

    .qs-paddle-data-api-col .qs-paddle-data  input.quomodo_text{
        width: 100%;
        height: 50px;
        padding-left: 20px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.2);
    }
    .qs-paddle-data-api-col .qs-paddle-data  input.quomodo_text:focus{
        box-shadow: none;
    }

    .wp-person a:focus .gravatar, a:focus, a:focus .media-icon img{
        box-shadow: none;
    }
    .shop-ready-pro-order{
        order: 10;
    }